
section {
    background-color: #ebebeb;
}


.nav-container {
    display: flex;
    justify-content: center;
    background-color: #47B4C3;
    height: 25%;
    padding: 10px;
}

.nav-link {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  .hero-container {
    position: relative;
    text-align: center;

    
}

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    border: 2px;
    border-color: black; 
    margin-bottom: 20px;
    
}

h2 {
    font-size: 2em;
    font-weight: 700;
    border: 2px;
    border-color: black; 
    margin-bottom: 10px;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    border: 2px;
    border-color: black; 
    margin-bottom: 10px;
}

h4 {
    font-size: 2em;
    font-weight: 700;
    border: 2px;
    border-color: black; 
    margin-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-container {
    margin-top: 10%;

}

.btn1 {
    border: none;
    color: #DCF73E;
    padding: 14px 28px;
    cursor: pointer;
    margin-top: 10%;
}

.hostel-container {
    position: relative;
    text-align: center;
    background-color: #47B4C3;
    width: 100vw;
    height: auto;
    justify-content: center;
}

.para-container {
    justify-content: center;
    position: relative;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-right: 10%;
    margin-bottom: 20px;
}

.img-container {
    width: 100vw;
    height:100vh;
    justify-content: center;
    justify-items: baseline;
}

.room-container {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
}

.roomtext-container {
    justify-content: center;
    padding: 10%;
    
}

